<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>login_controller</servlet-name>
        <servlet-class>login_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerController</servlet-name>
        <servlet-class>customerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customersController</servlet-name>
        <servlet-class>customersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo</servlet-name>
        <servlet-class>demo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultipleForm</servlet-name>
        <servlet-class>MultipleForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>packController</servlet-name>
        <servlet-class>controller.packController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login_controller</servlet-name>
        <url-pattern>/login_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerController</servlet-name>
        <url-pattern>/customerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customersController</servlet-name>
        <url-pattern>/customersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultipleForm</servlet-name>
        <url-pattern>/MultipleForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>packController</servlet-name>
        <url-pattern>/packController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
